@use "../../styles/variables.scss" as var;

.arrivals {
  background-color: var.$secondary-bg-color;
  overflow: hidden;
  padding: 4rem 0;

  @include var.phone {
    padding: 2rem 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;

    @include var.phone {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: var.$primary-text-color;

    @include var.phone {
      text-align: center;
      font-size: 2rem;
    }
  }

  &__text {
    color: var.$secondary-text-color;
  }

  &__view {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    gap: 0.5rem;
    color: var.$tertiary-text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.arrival {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  gap: 1rem;

  &__header {
    max-width: 260px;
    height: 360px;
    background: linear-gradient(270deg, #315bff, #8aa8f8);
    border-radius: 25px;

    & > p {
      font-size: 3rem;
      font-weight: bold;
      color: white;
      margin-left: 1rem;
    }

    & > img {
      position: absolute;
      transform: scale(1.8);
      left: -30px;
      top: 100px;

      @include var.tablet {
        transform: scale(1.5);
        top: 60px;
        left: -30px;
      }

      @include var.phone {
        transform: scale(1.8);
        top: 100px;
        left: -30px;
      }
    }

    & > button {
      position: relative;
      border: none;
      border-radius: 15px;
      width: 50px;
      height: 25px;
      cursor: pointer;
      bottom: -250px;
      left: 75%;
      z-index: 1000;
    }
  }

  &__rating {
    display: flex;
    gap: 0.5rem;
    color: coral;
  }
}
