// Background colors
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f5f5;

// Text colors
$primary-text-color: #0a083a;
$secondary-text-color: #6c6b6b;
$tertiary-text-color: #ff3c78;

// Border colors
$border-color: #ccc;

// Screen sizes
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 480px) {
    @content;
  }
}
