@use "../../styles/variables.scss" as var;

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: var.$secondary-bg-color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 45px;
    fill: var.$tertiary-text-color;
  }

  &__nav {
    @include var.tablet {
      display: none;
    }

    & ul {
      display: flex;
      // font-size: 4rem;
      font-weight: 500;

      & li a {
        padding: 0.5rem 1.5rem;
        display: block;
        color: var.$primary-text-color;
        text-decoration: none;
        position: relative;
        transition: all 0.25s ease;

        &:hover {
          color: var.$tertiary-text-color;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 2rem;

    & button {
      width: 1.6rem;
      height: 1.6rem;
      border: none;
      background: none;
      cursor: pointer;
      color: var.$primary-text-color;
      transition: all 0.25s ease-in-out;

      & svg {
        width: 100%;
        height: 100%;
      }

      &:hover {
        color: var.$tertiary-text-color;
      }
    }
  }
}

.activeBurgerList {
  display: block !important;
  // flex-direction: column;
  position: relative;
  font-size: 1.5rem;
}

.activeBurgerNav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;

  position: absolute;
  right: 0;
  top: 0;
  padding-top: 100px;

  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);

  z-index: 9;
  // display: none;
}

.activeLink {
  position: relative;

  & a {
    color: var.$tertiary-text-color !important;
  }

  &::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var.$tertiary-text-color;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: calc(50% - (6px / 2));
  }
}

.menuButton {
  display: none;
  z-index: 10;

  @include var.tablet {
    display: unset;
  }
}

.bucketButton {
  position: relative;

  &__number {
    position: absolute;
    right: -5px;
    bottom: -5px;

    width: 16px;
    height: 16px;
    border-radius: 50%;

    color: white;
    background-color: var.$tertiary-text-color;
    font-size: 0.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.profileButton {
  @include var.phone {
    display: none;
  }
}
