@use "../../styles/variables.scss" as var;

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 5rem 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: var.$primary-bg-color;

  @include var.phone {
    justify-content: center;
    text-align: center;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include var.phone {
      flex-direction: column;
    }

    & div {
      & h3 {
        font-size: 1.25rem;
        font-weight: 600;
        color: var.$primary-text-color;
        margin-bottom: 1rem;
      }

      & ul {
        font-weight: 500;

        @include var.phone {
          display: none;
        }

        & li {
          color: var.$secondary-text-color;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__socials {
    color: var.$secondary-text-color;

    @include var.phone {
      border-bottom: 1px solid var.$border-color;
      margin-bottom: 2rem;
    }

    & p {
      margin-bottom: 3rem;
      font-weight: 500;

      @include var.phone {
        margin: 2rem 0;
      }
    }

    & div {
      display: flex;
      gap: 1rem;

      @include var.phone {
        margin-bottom: 2rem;
        justify-content: center;
        gap: 2rem;
      }

      & a {
        color: var.$tertiary-text-color;
      }
    }
  }

  &__logo {
    width: 45px;
    margin-bottom: 1rem;
    fill: var.$tertiary-text-color;

    @include var.phone {
      margin: 0 auto;
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    color: var.$secondary-text-color;
    font-weight: 500;
    font-size: 0.8rem;

    @include var.phone {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    & button {
      width: 40px;
      height: 40px;

      display: flex;
      justify-content: center;
      align-items: center;

      color: white;
      border: 1px solid var.$border-color;
      background-color: var.$secondary-text-color;
      border-radius: 50%;

      cursor: pointer;

      transition: all 0.25s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.divider {
  margin: 3rem 0;
  border-top: 1px solid var.$border-color;

  @include var.phone {
    margin: 2rem 0;
  }
}
